<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>µs=40 vs #
µs=50 vs #
µs=60 vs #
Fit of µs=40 vs #
Fit of µs=50 vs #
Fit of µs=60 vs #
µs=70 vs #
Fit of µs=70 vs #
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
