<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Monte Carlo (isotropic µ_s = 35.0)
Distance [cm]
Intensity
Monte Carlo 
Fit of I vs Distance

Paper, Fig 3b) (old version)
DIstance [cm]
Intensity
I_a vs x_a

Distance [cm]
Normalized I
Low A vs Distance
Med A vs Distance
High A vs Distance
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
